body{
	font-family: 'Open Sans', Arial, sans-serif;
}

h2 {
	text-align: center;
	text-transform: uppercase;
    margin-bottom: 60px;
}

section {
    background: #f3f2f2 ;
    padding-top: 80px;
    padding-bottom: 80px;
}

.box {
    box-shadow: 0px 0px 10px 1px #cac7c7;
    background: #fff;
    padding: 40px 20px;
    margin-bottom: 20px;
    text-align: center;
    max-width: 300px;
    min-height: 250px;
}
.box2 {
   
    background: #fff;
    padding: 40px 20px;
    margin-bottom: 20px;
    text-align: center;
    max-width: 300px;
    min-height: 100px;
}
.box-group .col-3 .box2 {
    margin: 0 10px;
}
.num{
    color:#a2cf8e; 
}
.box-group .col-3 .box {
    margin: 0 10px;
}
.one{
    background: #f3f2f2 url(../img/slide_03.jpg);
}
.third{
    background: #f3f2f2 url(../img/what-we-do-bg.png); 
}
.fifth{
    background: #f3f2f2 url(../img/blog-bg.png); 
} 
.seventh{
     background: #f3f2f2 url(../img/contact-bg.png); 
}
    
}
.box-group {
    margin: 0 -10px;
}

/* .logo {
   padding-left: 300px;
} */
.row::after {
    content: "";
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.3);
    display: none;
}

.action-button2 {
    display: inline-block;
    padding: 10px;
    border: 2px solid;
    cursor: pointer;
}
.toggler:checked + .modal{
    display: block
}
.toggler{
    display: none;
}
.content {
    background: #fff;
    padding: 40px;
    width: 400px;
    margin: auto;
    margin-top: 50vh;
    transform: translateY(-50%);
   
}

ul.top-nav > li {
    color: white;
    list-style: none;
    display: inline-block;
    background: none;
    padding: 10px 30px;
    position:  relative;
     text-transform: uppercase;
}

ul.top-nav > li:hover {
    color: skyblue;
    background: grey;
    text-decoration: underline;
    cursor: pointer;
    text-transform: uppercase;
    box-shadow: inset 1px 1px 31px rgba(0,0,0,0.4);
}

.level-two {
    position: absolute;
    list-style: none;
    padding: 0;
    background: none;
    left: 0;
    margin-top: 10px;
     display: none;
}
li:hover .level-two {
    display: block;
}


.level-two li {
    background: none;
    padding: 10px 30px;
}
.photo-gallery {
    display: flex;
    /* flex-direction: row-reverse; */
    flex-direction: row;
    flex-wrap: wrap;
   
    justify-content: space-between;
}
.photo-galery_item {
    padding-top: 15px;
}
.row{
    display: flex;
    flex-direction: row;
}
.colomn{
    display: flex;
    flex-direction: column;
}
.heade,
.third{
    display: flex;
    
}
.design1,
.design2{
    text-align: center;
    text-transform: uppercase;
    color: white
}
.design1{
    padding-top: 100px;
}
.design2{
    font-size: 35px;
    font-weight: 900;

}
.design3{
    color: white;
    font-size: 12px;
    padding-top: 20px;
}
a.action-button {
    background: #a2cf8e;
    font-size: 10px;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 20px;
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    }
h4::after,
h2::after {
    content: "";
    display: block;
    height: 3px;
    background: black;
    width: 100px;
    margin: auto;
    margin-top: 10px;
}
/* ul.top-nav > li::before {
    content: "";
    position: absolute;
    border: 10px solid green;
    border-left: 10px solid black;
} */
.photo-galery_item img {
    opacity: 0.5;
    transition: all 1s ease 0.2s;
}
.photo-galery_item img:hover {
    opacity: 1;
}
.edit-box {
    background: white;
    width: 250px;
    position: relative;
    padding: 10px;
}
.edit-box img {
    transform: translate(0, 0);
    animation: typing 3s ease infinite;
}

/* 
@keyframes typing{
    0% {
        transform: translate(0, 0);
    }  
    50% {
        transform: translate(20px, 0);
    }  
    100% {
        transform: translate(200px, 0);
    }  
} */
@keyframes typing{
    0% {
        transform: translate(0, 0) rotate(0);
    }  
    50% {
        transform: translate(20px, 0) rotate(-50eg);
    }  
    100% {
        transform: translate(200px, 0) rotate(0);
    }  
}

.one {
    background: #f3f2f2 url(../img/slide_03.jpg);
    background-size: cover;
    background-position: bottom;
    height: 600px;
}